.containerStyle {
  display: flex;
  justify-content: space-evenly;
}


.sidebarStyle{
  flex: 2;
  height: 300px;
}

.innerDiv{
  position: fixed;
  padding-top: 25px;
  padding: 0 100px;
}

.mainContentStyle{
  flex: 3;
  padding: 0 3rem ;
  flex-shrink: 0;
  height: 100%;

}

.slideUpBlurb {
  /* margin: auto;  */
  /* width: 80%;  */
  margin-bottom: 20px;
  /* display: block; */
  text-align: center;
}

@media all and (min-width: 100px) {

  .innerDiv{
    border-right-style: solid;
    border-width: 2px;
    border-color: #367858;
  }
}

@media all and (max-width: 1250px) {
  .mainContentStyle{
    flex: 2;

  }
}

@media all and (max-width: 1000px) {
  .containerStyle {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .mainContentStyle{
    padding: 0 ;
  
  }
  
  .sidebarStyle > .innerDiv{
    padding-left: 0;

    padding-bottom: 3rem;
    position: static;
    border-right-style: none;

    border-bottom-style: solid;
    border-width: 2px;
    margin-bottom: 2rem;
    margin-left: 0px;

  }

}


