.containerStyle {
    display: flex;
    /* flex-flow: row wrap; */
    padding: 0;
    margin: 0;
    /* flex: 1 100%; */
    /* justify-content: flex-end; */
   
}

/* .containerStyle > * {
  flex: 1 100%;
} */

.containerStyle > .sidebarStyle{
 
    /* position: relative; */
    height: 300px;
    /* width: 25% */
    /* margin: 10px; */
    flex: 0 1 45%;
}

.sidebarStyle > .innerDiv{
  /* flex-grow: 3; */
  position: fixed;
  padding-right: 50px;
  padding-top: 25px;
}

.containerStyle > .mainContentStyle{
  flex: 0 1 100%;
  /* margin: 10px; */
}

.slideUpBlurb {
  margin: auto; 
  width: 75%; 
  margin-bottom: 20px;
}

@media all and (min-width: 600px) {

  .innerDiv{
    border-right-style: solid;
    border-width: 2px;
    border-color: purple;
  }
}

@media all and (max-width: 800px) {
  .containerStyle {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  .sidebarStyle > .innerDiv{
    /* flex-grow: 3; */
    padding-bottom: 3rem;
    position: static;
    /* padding: 25px; */
    border-right-style: none;

    border-color: purple;
    border-bottom-style: solid;
    border-width: 2px;
  }

  .containerStyle > .mainContentStyle{
    width: 100%;
    /* flex: 0 1 100%; */
    /* margin: 10px; */
  }

  .slideUpBlurb {
    width: 100%; 
  }

}


